@model FabSet_Project.Models.Signup

@{
    ViewData["Title"] = "Create";
}

<div class="form-bg">
        <form class="form" asp-action="Create">
            <h1>Sign up</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" placeholder="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" placeholder="Email Address" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" placeholder="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <label asp-for="Retype" class="control-label"></label>
                <input asp-for="Retype" placeholder="Retype" class="form-control" />
                <span asp-validation-for="Retype" class="text-danger"></span>
                <input id="signup" type="submit" value="Signup" />
        </form>
    </div>

    

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
